@{
  Layout = "_Layout";
}

<h1>Let's Play Ping-Pong</h1>

<form action="/pingpong/results" method="post">
  <label for="inputNumber">Enter your number:</label>
  <input name="inputNumber" class="form-control" id="inputNumber" type="number">
  <button type="submit" class="btn btn-success">Ping-Pong!</button>
</form>
